$headline-ff:Braggadocio,Arial,Verdana,Helvetica,sans-serif;
$main-sec-ff:Arial,Verdana,Helvetica,sans-serif;

$bordercolor:#cecece;
$backgroundcolor:#f2f2f2;
$activecolor: rgb(219, 207, 207); 
$activeborder:rgb(157, 123, 123);